.header {
  $self: &;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding-top: calc(var(--gutter) * 2);
  padding-bottom: calc(var(--gutter) * 2);
  backdrop-filter: blur(12px);
  background: var(--dark-transparent);
  box-shadow: 0px 13px 11px 2px var(--shadow);
  @include trs(0.6);

  @include only-mobi {
    height: 63px;
  }

  &__right-side {
    position: relative;
  }

  &__links {
    gap: calc(var(--gutter) * 4);

    @include tablet-landscape {
      gap: calc(var(--gutter) * 3);
    }

    @include only-mobi {
      position: absolute;
      top: 60px;
      right: 0;
      height: 0;
      width: max-content;
      pointer-events: none;
      opacity: 0;
      flex-direction: column;
      align-items: flex-end;
      gap: calc(var(--gutter) * 1.5);
      @include trs(0.6);
    }
  }

  &.active {
    @include only-mobi {
      height: 100%;

      #{$self}__links {
        height: auto;
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

.header-logo {
  &__img {
    max-width: 190px;
    @include trs;

    &:hover {
      transform: scale(1.03);
    }

    @include tablet-landscape {
      max-width: 160px;
    }

    @include phone {
      max-width: 140px;
    }
  }
}

.header-burger {
  height: 35px;
  padding: 0;
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;

  &::after, &::before {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    background: var(--white);
    @include trs;
  }

  &::after {
    top: 3px;
  }

  &::before{
    bottom: 3px;
  }

  &.active {
    &::after {
      transform: translateY(-5px) rotate(135deg)
    }

    &::before {
      transform: translateY(3px) rotate(45deg)
    }
  }

  @include only-mobi {
    display: block;
  }

  @include small-phone {
    &::after, &::before {
      width: 35px;
    }
  }
}

.header-links{
  &__item {
    position: relative;

    @include only-mobi {
      font-size: 16px;
    }
  }

  &__contacts {
    gap: var(--gutter);

    @include only-desktop {
      font-size: 0.83rem;
      line-height: 1.38rem;
    }
  }
}

.header-links-item {
  text-decoration: none;
  color: var(--text-color);
  @include trs;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    border-radius: 2px;
    @include trs;
  }

  &:hover {
    color: var(--white);

    &:after {
      width: 100%;
    }
  }

  @include only-mobi {
    color: var(--white);
  }
}