.header {
  $self: &;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding-top: calc(var(--gutter) * 2);
  padding-bottom: calc(var(--gutter) * 2);
  backdrop-filter: blur(12px);
  background: var(--header-bg);
  box-shadow: 0px 13px 11px 2px var(--shadow);

  &__links {
    gap: calc(var(--gutter) * 4);

    @include tablet-landscape {
      gap: calc(var(--gutter) * 2.5);
    }

    @include laptop {
      display: none;
      height: 0;
      opacity: 0;
      @include trs(0.9);
    }
  }

  &.active {
    @include laptop {
      #{$self}__wrapper {
        align-items: start;
      }

      #{$self}__links {
        height: auto;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: calc(var(--gutter) * 3);
        gap: calc(var(--gutter) * 1.5);
      }
    }
  }
}

.header-logo {
  &__img {
    max-width: 190px;
    @include trs;

    &:hover {
      transform: scale(1.03);
    }

    @include tablet-landscape {
      max-width: 160px;
    }
  }
}

.header-burger {
  height: 35px;
  padding: 0;
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;

  &::after, &::before {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    background: var(--white);
    @include trs;
  }

  &::after {
    top: 3px;
  }

  &::before{
    bottom: 3px;
  }

  &.active {
    &::after {
      transform: translateY(-5px) rotate(135deg)
    }

    &::before {
      transform: translateY(3px) rotate(45deg)
    }
  }

  @include laptop {
    display: block;
  }

  @include small-phone {
    &::after, &::before {
      width: 35px;
    }
  }
}

.header-links{
  &__item {
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__contacts {
    font-size: 15px;
    line-height: 25px;
    gap: var(--gutter);
  }
}

.header-links-item {
  text-decoration: none;
  color: var(--text-color);
  @include trs;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    border-radius: 2px;
    @include trs;
  }

  &:hover {
    color: var(--white);

    &:after {
      width: 100%;
    }
  }
}