<header class="header">
    <div class="header__wrapper flex --just-space --align-center">
        <div class="header__logo header-logo flex --align-center">
            <a href="#" class="header-logo__link">
                <picture class="header-logo__picture header-logo-picture flex">
                    <source srcset="./img/logo.webp" type="image/webp">
                    <img src="./img/logo.jpeg" alt="" class="header-logo__img">
                </picture>
            </a>
        </div>
        <nav class="header__links header-links flex --align-center">
            <a class="header-links__item header-links-item" href="#banner-form">Отопление</a>
            <a class="header-links__item header-links-item" href="#teamCash">Водоснабжение</a>
            <a class="header-links__item header-links-item" href="#howTo">Установка оборудования</a>
            <a class="header-links__item header-links-item" href="#howTo">Все услуги</a>
            <div class="header-links__contacts flex --dir-col">
                <a class="header-links__item header-links-item" href="tel:+79998887766">+7 999-888-77-66</a>
                <a class="header-links__item header-links-item" href="mailto:el.pochta@mail.ru">el.pochta@mail.ru</a>
            </div>
        </nav>
    </div>
</header>
