<footer class="footer">
    <div class="footer__body container flex --just-space">
        <div class="footer__logo footer-logo">
            <a href="#" class="footer-logo__link">
                <picture class="footer-logo__picture footer-logo-picture flex">
                    <source srcset="./img/logo.webp" type="image/webp">
                    <img src="./img/logo.jpeg" alt="" class="footer-logo__img">
                </picture>
            </a>
        </div>
        <div class="footer__right-side flex --just-space">
            <ul class="footer__links footer-links">
                <li class="footer-links__item footer-links-item footer-links-item--title">
                    <span class="footer-links-item__title">Услуги</span>
                </li>
                <li class="footer-links__item footer-links-item">
                    <a href="#" class="footer-links-item__link footer-links-item-link">Отопление</a>
                </li>
                <li class="footer-links__item footer-links-item">
                    <a href="#" class="footer-links-item__link footer-links-item-link">Водоснабжение</a>
                </li>
                <li class="footer-links__item footer-links-item">
                    <a href="#" class="footer-links-item__link footer-links-item-link">Установка оборудования</a>
                </li>
                <li class="footer-links__item footer-links-item">
                    <a href="#" class="footer-links-item__link footer-links-item-link">Все услуги</a>
                </li>
            </ul>
            <div class="footer__contacts footer-contacts flex --dir-col">
                <a class="footer-contacts__item footer-contacts-item" href="tel:+79998887766">+7 999-888-77-66</a>
                <a class="footer-contacts__item footer-contacts-item" href="mailto:el.pochta@mail.ru">el.pochta@mail.ru</a>
                <span class="footer-contacts__item footer-contacts-item footer-contacts-item--address">Московская область,<br>Апрелевка</span>
            </div>
        </div>
    </div>
</footer>
