.footer{
  padding-top: calc(var(--gutter) * 5);
  padding-bottom: calc(var(--gutter) * 5);
  background: var(--footer-bg);

  &__logo {
    max-width: 160px;
  }

  &__links {
    padding-left: 0;
    list-style: none;
    margin-right: calc(var(--gutter) * 12);
  }

  &__contacts {
    font-size: 16px;
  }
}

.footer-links-item {
  font-size: 16px;

  &--title {
    font-size: 18px;
    color: var(--white);
  }

  &__link {
    color: var(--light-gray);
    text-decoration: none;
    @include trs;

    &:hover {
      color: var(--white);
    }
  }
}

.footer-contacts {
  &__item {
    color: var(--white);
  }
}

.footer-contacts-item{
  &--link {
    color: var(--light-gray);
    text-decoration: none;
    @include trs;

    &:hover {
      color: var(--white);
    }
  }
}