.footer{
  padding-top: calc(var(--gutter) * 5);
  padding-bottom: calc(var(--gutter) * 5);
  background: var(--footer-bg);

  &__logo {
    max-width: 160px;
  }

  &__links {
    padding-left: 0;
    margin-right: calc(var(--gutter) * 12);
  }

  &__contacts {
    font-size: 0.89rem;
  }
}

.footer-links {
  list-style: none;

  &__item {
    font-size: 0.89rem;
  }
}

.footer-links-item {
  &--title {
    font-size: 1rem;
    color: var(--white);
  }
}

.footer-links-item-link {
  color: var(--light-gray);
  text-decoration: none;
  @include trs;

  &:hover {
    color: var(--white);
  }
}

.footer-contacts-item{
  color: var(--light-gray);
  text-decoration: none;
  @include trs;

  &:hover {
    color: var(--white);
  }

  &--address {
    margin-top: calc(var(--gutter) * 3);
    color: var(--white);
  }
}