*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
}

:root{
	--bg:  hsl(0, 0%, 10%);
	--footer-bg: hsl(0, 0%, 15%);
	--gray: hsl(0, 0%, 50%);
	--light-gray: hsl(0, 0%, 65%);
	--text-color: hsl(0, 0%, 85%);
	--white: hsl(0, 0%, 100%);

	--accent: hsl(218, 79%, 55%);
	--accent-darken: hsl(218, 79%, 30%);

	--dark-transparent: hsla(0, 0%, 0%, 0.5);
	--shadow: hsla(0, 0%, 0%, 0.2);
	--header-bg: hsla(0, 0%, 0%, 0.15);


	--gutter: 10px;
	--section-padding: 80px;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 18px;

	@include desktop {
		font-size: 17px;
	}

	@include tablet-landscape {
		font-size: 16px;
	}

	@include tablet-portrait {
		font-size: 15px;
	}

	@include small-phone {
		font-size: 14px;
	}
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
	line-height: 2rem;
	color: var(--text-color);
	background-color: var(--bg);
}

section {
	padding-bottom: var(--section-padding);
}

.title {
	text-align: center;
	font-size: 3rem;
	line-height: 3.2rem;
	text-shadow: 10px 3px 25px var(--accent);
	font-weight: 900;
	margin: 0 auto calc(var(--gutter) * 5);
}

img {
	width: 100%;
}

.container {
	&--fluid {
		@include container(100%, 0, 0, 0);
	}

	@include big-desktop {
		@include container(1440px, 0, 0, 0);
	}

	@include desktop {
		@include container(1260px, 0, 0, 0);
	}

	@include small-desktop {
		@include container(1140px, 0, 0, 0);
	}

	@include tablet-landscape {
		@include container(960px, 0, 0, 0);
	}

	@include laptop {
		@include container(840px, 0, 0, 0);
	}

	@include tablet-portrait {
		@include container(740px, 0, 0, 0);
	}

	@include big-phone {
		@include container(560px, 0, 0, 0);
	}

	@include phone {
		@include container(100%, calc(var(--gutter) * 3 ), 0, calc(var(--gutter) * 3 ));
	}

	@include small-phone {
		@include container(100%, calc(var(--gutter) * 2 ), 0, calc(var(--gutter) * 2 ));
	}
}

.colored-text {
	color: var(--accent);

	&:hover {
		animation: forwards textAnim 1.8s infinite linear;
	}
}

@keyframes textAnim {
	0% {
		color: var(--accent);
	}
	50% {
		color: var(--accent-darken);
	}
	100% {
		color: var(--accent);
	}
}

.text-justify {
	text-align: justify;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}