@import 'base/*.scss';
@import 'global/*.scss';
@import '../components/**/**/*.scss';

.banner {
  padding-bottom: var(--section-padding);
  margin-bottom: 0px!important;

  &__slide {
    width: 100%!important;

    &.slick-slide {
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 55px;
    line-height: 70px;
  }

  &__text {
    font-size: 26px;
    line-height: 40px;
    margin-top: calc(var(--gutter) * 4);
  }

  &__link {
    margin-top: calc(var(--gutter) * 4);
  }

  .slick-arrow {
    z-index: 10;
  }

  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 25px;
  }

  .slick-prev, .slick-next{
    width: 25px;
    height: 25px;

    &:before {
      font-size: 25px;
      opacity: 0.5;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-dots {
    bottom: 100px;

    li, button{
      width: 25px;
      height: 25px;
    }

    li button:before {
      font-size: 15px;
      line-height: 15px;
      position: static;
      color: var(--white);
    }

    li button:hover:before, li button:focus:before {
      opacity: 0.7;
    }

    li.slick-active button:before {
      opacity: 1;
      color: var(--white);
    }
  }
}

.banner-slide {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 780px;
    transform: translate(-50%, -50%);
    padding: calc(var(--gutter) * 4.5) calc(var(--gutter) * 5.5);
  }

  &__picture {
    max-height: 100%;
  }

  &__img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    filter: brightness(0.3);
  }
}

.banner-title {
  font-weight: 900;
  text-transform: uppercase;
}

.banner-text-link {
  &:hover {
    text-decoration: none;
  }
}

.banner-slide-picture {
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    // bg for mobile !!!!!!!!!!!!
    //background-image: linear-gradient(to top, hsla(0, 0%, 10%, 0.98), hsla(0, 0%, 10%, 0.75));
    background-image: radial-gradient(circle, transparent 0, var(--bg) 80%);
  }
}

.banner-slide-wrapper {
  border-radius: 30px;
  background: var(--dark-transparent);
  box-shadow: 0 0 30px 10px var(--shadow);
  backdrop-filter: blur(7px);
}

.services {
  &__boxes {
    flex-wrap: wrap;
    gap: calc(var(--gutter) * 2);
    width: min(85%, 1000px);
    margin: 0 auto;
  }
}

.services-boxes{
  &__item {
    position: relative;
    width: 100%;
    max-width: calc( 50% - 10px);
    height: 350px;
  }
}

.services-boxes-item {
  $self: &;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    #{$self}__link {
      transform: scale(1.1);
    }

    #{$self}__wrapper {
      opacity: 1;
      padding: 0 calc(var(--gutter) * 5);
      visibility: visible;
    }
  }

  &__link{
    display: block;
    height: 100%;
    background-position: center;
    background-size: cover;
    @include trs(0.8);
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-transparent);
    opacity: 0;
    visibility: hidden;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 26px;
    @include trs;
  }
}

.about-us {
  &__text {
    margin-top: calc(var(--gutter) * 3);

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.about-us-list {
  &__item {
    &::marker {
      color: var(--accent)
    }
  }
}

.contacts {
  &__map {
    height: 400px;
    border-radius: 30px;
    border: 2px solid var(--accent);
    overflow: hidden;
  }
}

.contacts-map {
  &__text {
    width: 25%;
    height: 100%;
    padding: calc(var(--gutter) * 3);
    background: var(--white);
    box-shadow: -7px 0px 20px -10px var(--dark-transparent) inset;
    color: var(--bg);
  }

  .ymaps3x0--map-container {
    width: 75%;
  }
}

.contacts-map-text {
  &__small {
    font-size: 13px;
    line-height: 13px;
    margin-top: calc(var(--gutter) * 1.5);
    color: var(--gray);
  }

  &__link {
    display: block;
  }
}

@import './media/_media.scss';