.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    width: 100%;
    min-height: 52px;
    margin-left: auto;
    border-radius: 52px;
    background: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    cursor: pointer;
    text-decoration: none;

    @include trs;

    &:hover {
        color: var(--white);
        background: var(--accent);
    }
}

