.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    width: 100%;
    min-height: 52px;
    margin-left: auto;
    border-radius: 52px;
    background: transparent;
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    cursor: pointer;
    text-decoration: none;

    @include trs(0.4);

    &:hover {
        color: #FFFFFF;
        background: var(--main-text-color);
    }
}

