.btn{
    background: transparent;
    color: var(--accent);
    cursor: pointer;
    @include trs;

    &:hover {
        color: var(--white);
        background: var(--accent);
    }
}

a.btn {
    text-decoration: none;
}

